:root {
    --textColor: #fdf6e3;
    --Base03: #002b36;
    --Base02: #073642;
    --Base01: #586e75;
    --Base00: #657b83;
    --Base0: #839496;
    --Base1: #93a1a1;
    --Base2: #eee8d5;
    --Base3: #fdf6e3;
}

body {
    color: var(--Base3);
    background-color: var(--Base03);
    background-image: url('./img/blank-colors-desk-electronics-370474.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin-bottom: .75em;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p, form {
    margin-bottom: .75em;
}

button {
    font-size: large;
    padding: .5em 1em;
    color: white;
    background-color: var(--Base1);
    border: 0;
    transition: background-color .2s;
}

button:hover {
    background-color: var(--Base0);
}

input {
    font-size: large;
    padding: .5em 1em;
    border: 0;
    width: 100%;
}

input:focus {
    outline: none;
}

#todos {
    background-color: var(--Base01);
    padding: 2em;
    border: 20px solid rgba(7,54,66, 0.2);
    background-clip: padding-box;
}

#todo-list {
    margin: 2em 0;
}

.todo {
    background-color: var(--Base0);
    padding: 1em;
    margin: 0 .2em 1em .2em;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
}

.todo-text {
    font-size: large;
}

.done {
    text-decoration: line-through;
    background-color: rgb(196,221,138);
}

#todo-form {
    display: flex;
    justify-content: center;
}

.form-element {
    margin: 0 .2em;
}

.container {
    margin: 0 auto;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}