:root {
    --textColor: #fdf6e3;
    --backgroundColor: #002b36;
    --primaryColor: #dc322f;
    --secondaryColor: #839496;
    --secondaryColorDark: #586e75;
}

body {
    color: var(--textColor);
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: var(--primaryColor);
    margin-bottom: .75em;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p, form {
    margin-bottom: .75em;
}

li {
    background-color: var(--secondaryColor);
    padding: .5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

button {
    font-size: large;
    padding: .5em 1em;
    background-color: var(--secondaryColor);
    border: 0;
    border-radius: 5px;
    transition: background-color .2s;
}

button:hover {
    background-color: var(--secondaryColorDark);
}

input {
    font-size: large;
    padding: .5em 1em;
    border: 0;
    border-radius: 5px;
}

input:focus {
    border: 1px solid var(--primaryColor);
    outline: none;
}

#todo-form {
    display: flex;
    justify-content: center;
}

.form-element {
    margin: 0 .2em;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.container section {
    padding: 1em;
}